<h1>Stupid Coaching</h1>

<div container class="answer">
<p><%= @message %></p>
<p><em>– You</em></p>
</div>

<div container class="answer">
<p><strong><%= @answer %></p></strong>
<p><em>– Your coach</em></p>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>
